{% extends "base.html" %}

{% block body %}
        <div class="jumbotron" style="height: 100%; width: 100%">
            <div class="container text-center">
                <h1>Twit-Sense</h1>
                <p class="lead"></p>
                <form action="/getResult" class="form-vertical" method="post" name="InitialForm">
                    <input type="search" class="form-control" name="search" id="search">
                    <span class="help-block">Enter the <b>PRODUCT</b>, <b>BRAND</b> or <b>PERSON</b> you want to get public opinion about.</span>

                    <!-- Trigger the modal with a Link -->
                    <a href="#moreOptions" data-toggle="modal" data-target="#moreOptions">Click here for <b>Advanced Settings</b></a><br>
                    <button type="submit" class="btn btn-success" id="btnSubmit" ><span class="glyphicon glyphicon-search"></span> Get Result</button>
                </form>
            </div>
        </div>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div id="moreOptions" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- MODAL HEADER -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="modalLbl">Advanced Options</h4>
                </div> <!--./MODAL HEADER-->

                <!-- MODAL BODY -->
                <div class="modal-body">
                    <form action="/getResult" method="post" name="formTwo">
                        <div class="form-group">
                            <label for="advQuery">Enter Search Query: </label>
                            <input class="form-control" id="advQuery" name="advQuery">
                        </div>
                        <div class="form-group">
                            <label for="noTweets">Enter Number of Tweets: </label>
                            <input type="number" max="1500" class="form-control" id="noTweets" name="noTweets">
                            <span class="help-block">Maximum amount of tweets is 1500</span>
                        </div>
                        <div class="form-group">
                            <label for="selClf">Select Classifier:</label>
                            <select class="form-control" id="selClf" name="selClf">
                                <option>Naive Bayes</option>
                                <option>Support Vector Machine</option>
                                <option>Maximum Enthropy</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline"><input type="checkbox" value="" id="url" name="url">Remove tweets containing URL?</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-md" id="btnMoreOpts">Submit</button>
                        <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">Close</button>
                    </form>
                </div> <!--./MODAL BODY-->
            </div> <!--./MODAL CONTENT-->
        </div> <!--./MODAL dialog-->
    </div> <!--./MODAL Complete-->
{% endblock %}