<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<head>
    <title>Twit-Sense: Making sense of unstructured text...</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link href="../static/styles.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

     {#<script language="JavaScript" type="text/javascript">
                        $(function() {
                            $('#btnSubmit').click(function() {
                                var query = $('#search').val();
                                $.ajax({
                                url: '/getResult',
                                data: $('form').serialize(),
                                type: 'POST',
                                success: function(response) {
                                    console.log(response);
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            });
                        });
                    });
                    </script>#}

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Twit-Sense</h3>
        </div>

        <div class="jumbotron">
            <h1>Twit Sense</h1>
            <p class="lead"></p>
            <div class="center">
                <form action="/getResult" class="form-vertical" method="post">
                <div class="input-group col-sm-10 center">
                    <input type="search" class="form-control" name="search" id="search">
                    <span class="help-block">Enter the <b>PRODUCT</b>, <b>BRAND</b> or <b>PERSON</b> you want to get public opinion about.</span>

                    <!-- Trigger the modal with a Link -->
                    <a href="#moreOptions" data-toggle="modal" data-target="#moreOptions">Click here for advanced Settings</a><br>
                    <button type="submit" class="btn btn-success" id="btnSubmit" >Get Result</button>

                    <!-- Modal -->
                    <div id="moreOptions" class="modal fade" role="dialog">

                    </div>
                </div>
                </form>
            </div>
        </div>

        <footer class="footer">
            <p>&copy;  <a href="http://twitter.com/iMLordJ">Twitter - @iMLordJ</a> 2015</p>
        </footer>

    </div>
</body>

</html>