{% extends "base.html" %}
{% block body %}
        <div class="jumbotron" style="height: 100%; width: 100%">
            <div class="container text-center" >
                <h2>Welcome to Twit-Sense</h2>
                <blockquote>Due to new twitter policies, every user accessing the Twitter API is required to
                Login to twitter and grant this application access to their account in order to pull tweets.
                Thank You, Kindly login below</blockquote>
                <a href="/loginTwitter"><img src="../static/sign-in.png" alt="Sign In"></a>
            </div>
        </div>
{% endblock %}