<!DOCTYPE html>
<html lang="en">

<head>
    <title>Authorize Twit-Sense Application</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Twit Sense</h3>
        </div>

        <div class="jumbotron">
            <h2>Welcome to Twit-Sense</h2>
            <blockquote>Due to new twitter policies, every user accessing the Twitter API is required to
            Login to twitter and grant this application access to their account in order to pull tweets.
            Thank You, Kindly login below</blockquote>
            <a href="/loginTwitter"><img src="../static/sign-in.png" alt="Sign In"></a>
        </div>


        <footer class="footer">
            <p>&copy;  <a href="http://twitter.com/iMLordJ">Twitter - @iMLordJ</a> 2015</p>
        </footer>

    </div>
</body>

</html>