{% extends "base_result.html" %}
{% block head %}
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            var gdata = new google.visualization.DataTable();
            gdata.addColumn('string','Sentiment');
            gdata.addColumn('number', 'Number of Tweets');
            gdata.addRows([
                {%- for sentiment, count in piedata %}
                    ['{{ sentiment }}', {{ count }}],
                {%- endfor %}
            ])

            var options = {
                title: 'Sentiment/Tweets percentage',
                width: 400,
                height: 400,
                is3d: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(gdata, options);
        }
    </script>
{% endblock %}

{% block body %}

    <!-- Colouring the Table based on sentiment -->
    <script type="text/javascript">
        $(function(){
            $("tr").each(function(){
                var col_val = $(this).find("td:eq(1)").text();
                console.log(col_val)
                if ($.trim(col_val) == "positive"){
                    $(this).addClass('success');  //the selected class colors the row green
                } else if ($.trim(col_val) == "negative"){
                    $(this).addClass('danger'); //the selected class colors the row red
                }
            });
        });
    </script>

    {#    <script type="text/javascript">
        $(function(){
            var dataSet = JSON.parse(JSON.stringify({{ data|safe }}));
            var div_pos = $('<div>')
                    .attr('class', 'list-group')
                    .append($('<a>')
                            .attr('class', 'list-group-item list-group-item-success').attr('href', '#')
                            .append($('<h4>')
                                    .attr('class', 'list-group-item-heading'),
                                    $('<p>')
                                            .attr('class', 'list-group-item-text'),
                                    $('<h5>')
                                            .attr('class', 'list-group-item-text'),
                                    $('<h6>').attr('class', 'list-group-item-text')));

            var div_neg = $('<div>')
                    .attr('class', 'list-group')
                    .append($('<a>')
                            .attr('class', 'list-group-item list-group-item-danger')
                            .append($('<h4>').attr('class', 'list-group-item-heading'),
                                    $('<p>').attr('class', 'list-group-item-text'),
                                    $('<h5>').attr('class', 'list-group-item-text'),
                                    $('<h6>').attr('class', 'list-group-item-text')));

            var tweet = '';


            $.each(dataSet, function(index, value){
                if (value.sentiment == 'positive') {
                    tweet = $(div_pos).clone();
                } else if (value.sentiment == 'negative') {
                    tweet = $(div_neg).clone();
                }
                $(tweet).find('h4').text(value.tweetText).addClass('blockquote')
                $(tweet).find('p').text('Sentiment: ' + value.sentiment).addClass('text-left').addClass('text-info')
                $(tweet).find('h5').text('Weight: ' + value.weight).addClass('text-left').addClass('text-info')
                $(tweet).find('h6').text('Created: ' + value.timeCreated).addClass('text-left').addClass('text-info')
                $('#tweets').append(tweet);
            });
        });
    </script>#}

    <div class="container-fluid">
        <div class="row" style="border: solid #6dfffa; background-color: #1b6d85">
            <p style="width: 100%; text-align: center"><strong>Sentiment Charts for: </strong><strong class="text-capitalize text-warning"> {{ query }} </strong></p><br>
            <div id="piechart" class="col-md-4" style="background-color: white; border: solid #feff51">

            </div>
            <div id="bar_chart" class="col-md-4" style="background-color: white; border: solid #feff51">
                {{ div_bar | safe }}
                {{ script_bar | safe }}
            </div>
            <div id="word_cloud" class="col-md-4" style="background-color: white; border: solid #feff51">

            </div>
        </div>

        <br>
        <div id="tbl">
            <p class="lead"></p>
            {{ full_data.to_html(classes="table table-striped table-responsive table-hover clickable-row") | safe}}
        </div>

        <script type="text/javascript">
            $("tr").click(function(){
                $("#extendModal").modal("show");
                $("#txtTweet").val($(this).closest('tr').children()[1].textContent);
                $("#txtSentiment").val($(this).closest('tr').children()[2].textContent);
            });
        </script>

        <div class="modal fade" id="extendModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Correct A Wrong Classification</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/extendSub" method="post" name="formExtend">
                            <div class="form-group">
                                <label for="txtTweet">Tweet:</label>
                                <textarea class="form-control" rows="2" id="txtTweet" name="txtTweet" readonly></textarea>
                            </div>
                            <div class="form-group">
                                <label for="txtSentiment">Select correct Sentiment: </label>
                                        <select class="form-control" id="txtSentiment" name="txtSentiment">
                                            <option>positive</option>
                                            <option>negative</option>
                                        </select>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                    <div class="modal-footer">

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    </div>

        <!-- Creating the word Cloud -->
    <script>
        (function() {
            var fill = d3.scale.category20();
            //what range of font sizes do we want, we will scale the word counts
            var fontSize = d3.scale.log().range([10, 40]);

            //create my cloud object
            var mycloud = d3.layout.cloud().size([400, 400])
                    .words([])
                    .padding(2)
                    .rotate(function() { return ~~(Math.random() * 2) * 90; })
                    // .rotate(function() { return 0; })
                    .font("Impact")
                    .fontSize(function(d) { return fontSize(d.size); })
                    .on("end", draw)

            //render the cloud with animations
            function draw(words) {
                //fade existing tag cloud out
                d3.select("#word_cloud").selectAll("svg").selectAll("g")
                        .transition()
                        .duration(1000)
                        .style("opacity", 1e-6)
                        .remove();

                //render new tag cloud
                d3.select("#word_cloud").selectAll("svg")
                        .append("g")
                        .attr("transform", "translate(150,150)")
                        .selectAll("text")
                        .data(words)
                        .enter().append("text")
                        .style("font-size", function(d) { return ((d.size)* 1) + "px"; })
                        .style("font-family", "Impact")
                        .style("fill", function(d, i) { return fill(i); })
                        .style("opacity", 1e-6)
                        .attr("text-anchor", "middle")
                        .attr("transform", function(d) { return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")"; })
                        .transition()
                        .duration(1000)
                        .style("opacity", 1)
                        .text(function(d) { return d.text; });
            }

            //ajax call
            function get_words() {
                //make ajax call
                    var words_array = [];
                    var data = JSON.parse(JSON.stringify({{ freq|safe }}));
                    for (var key in data){
                        words_array.push({text: key, size: data[key]})
                    }
                    //render cloud
                    console.log(data);
                    console.log(words_array);
                    mycloud.stop().words(words_array).start();
            };

            //create SVG container
            d3.select("#word_cloud").append("svg")
                    .attr("width", 400)
                    .attr("height", 400);

            //render first cloud
            get_words();

            //start streaming
            //var interval = setInterval(function(){get_words()}, 4000);
        })();
    </script>
{% endblock %}