/* enable absolute positioning */
#container{
  width:1000px;
}
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



body {
  margin: 10px;
}

#jumbotrone{
  width:500px;
  height:500px;
}
#jumbotron2{
  width:500px;
  height:500px;
}
#jumbotron3
{
  width:500px;
  height:500px;
}
#jumbotron4 {
  width: 500px;
  height: 500px;
}
#content{
  height:1000px;
}